{% extends 'blog/base.html' %}

{% block content %}

<div class="jumbotron">
    <h2>Login Please</h2>
    <h3>You have to be a SuperUser</h3>

    {% if form.errors %}
        <p>Your UserName or Password didn't match !! </p>
        <p>Try Again..</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{form.as_p }}
        <input type="submit" value="LogIn" class="btn btn-primary">
        <input type="hidden" name="next" value="{{next}}">
    </form>

</div>

{% endblock %}